/* 自定义全局样式变量  */
$theme-color-red: #CE595B;
$theme-color-yellow: #fb8709;
$theme-color-blue:#3b8be2;
$theme-font-size: 17px;
$theme-font-family: Helvetica Neue,
Helvetica,
PingFang SC,
Hiragino Sans GB,
Microsoft YaHei,
Arial,
sans-serif;


