/* 改变主题色变量 */
$--color-primary: #CE595B;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../node_modules/element-ui/packages/theme-chalk/src/index";

$theme-color: #CE595B;

// .tree-cust:before {content: "\e618";}
// .icon-group:before {content: "\e61a";}
// .icon-meter:before {content: "\e61b";}
// .icon-sum:before {content: "\e61c";}
// .icon-meterVirtual:before {content: "\e61d";}
// .icon-gaojing:before {content: "\e61e";}
// .icon-quanping:before {content: "\e621";}
// //修改菜单样式
.el-menu{ background-color: $theme-color !important;}
.el-menu--horizontal > .el-menu-item { color: #fff}
// .el-submenu__title:hover{background-color:#EE1D23 !important;color:#fff !important;}
// .el-menu--horizontal > .el-submenu.is-active .el-submenu__title{border-color: #EE1D23 !important;background: #EE1D23 !important;}
// .el-menu.el-menu--horizontal{border: none;}
// .el-menu--horizontal > .el-menu-item.is-active{border-color: #EE1D23 !important;background: #EE1D23 !important;}
// .bgColor:hover{background: #EE1D23 !important;color: #fff !important;}
// .el-menu--horizontal .el-menu .el-menu-item.is-active{color: #fff !important;background: #EE1D23 !important;}
// .el-menu--horizontal .el-menu-item:not(.is-disabled):hover{color: #fff !important;background: #EE1D23 !important;}
// //修改表格样式
// .cell .el-button--text{color:#0099ff;}
// .menu_  .el-dialog__body{padding-top: 10px;}
// //弹窗样式
// .el-dialog__header{border-bottom:1px solid #ccc;box-sizing: border-box;}
// .el-dialog__headerbtn .el-dialog__close{color: #EE1D23;font-weight: bold;}
// //时间框样式
// .el-time-spinner .el-time-spinner__wrapper.el-scrollbar:nth-child(2){display: none !important;}
// //滚动条的宽度
// ::-webkit-scrollbar {width: 10px;height: 10px;}
// //滚动条的滑块
// ::-webkit-scrollbar-thumb {background-color: #EE1D23;border-radius: 10px;}
// //滚动条框大小
// .el-table__fixed-right-patch{width:15px !important;}